* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
body {
  font-family: $s-regular;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $s-regular;
  }
  p,
  span {
    font-family: $s-regular;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  a {
    font-family: $s-regular;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    &:hover {
      color: #10b7c6;
      text-decoration: none;
    }
    &.active {
      color: #10b7c6;
      text-decoration: none;
    }
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $s-regular;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  img {
    max-width: 100%;
  }

  .s-title {
    color: #22b78e;
    font-family: $s-medium;
    font-size: 31px;
    margin: 0 0 0px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    @media ($tablets) {
      font-size: 28px;
      line-height: 40px;
    }
    @media ($portrait-phones) {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
