/*colors*/
$white: #fff;
$cblack: #000;
$lightpink: #dd5a6a;
$lightpinkhover: #d83045;
$cblue: #004498;
$cbluehover: #1061c4;

/*fonts*/
$s-thin: "StagSans-Thin";
$s-thin-italic: "StagSans-ThinItalic";
$s-light: "StagSans-Light";
$s-light-italic: "StagSans-LightItalic";
$s-medium: "StagSans-Medium";
$s-medium-italic: "StagSans-MediumItalic";
$s-regular: "StagSans-Regular";
$s-regular-italic: "StagSans-Italic";
$s-semibold: "StagSans-SemiBold";
$s-semibold-italic: "StagSans-SemiBoldItalic";
$s-bold: "StagSans-Bold";
$s-bold-ialic: "StagSans-BoldItalic";
$s-black: "StagSans-Black";
$s-black-italic: "StagSans-BlackItalic";

/*media query*/
$large-desktops: "max-width: 1440px";
$desktops: "max-width: 1199px";
$tablets: "max-width: 991px";
$landscape-phones: "max-width: 767px";
$portrait-phones: "max-width: 575px";
